.avatar {
  height: 75px;
  border-radius: 50%;
  margin: 10px;
}

.nav.nav-tabs,
.tab-content {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0.25rem;
}

.dashboard-list {
  list-style: none;
}
